<%= titulo_pagina("Novo Usuário","") %>

<%= simple_form_for @usuario, :url=>usuarios_path do |f| %>
  
  <div class="row">
    <div class="col-md-6">
      <%= f.input :nome, :input_html => {:class=>"input-xxlarge", :required=>true} %>
    </div>
    <div class="col-md-6">
      <%= f.input :email, :input_html => {:class=>"input-xxlarge", :required=>true} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <% if can? :manage, Role %>
        <%= f.input :role_ids, :label=>"Permissões", :collection=>Role.accessible_by(current_ability).order_by([:nome, :asc]).collect {|d| [d.nome, d.id]}, as: :check_boxes, :input_html => {:class=>"input-xlarge", :required=>true}  %>
      <% end %>
    </div>
    <div class="col-md-6">
      <% @ids = User.where(:pessoa_id.ne=>nil).collect {|p| p.pessoa_id} %>
      <%= f.input :pessoa_id, :label=>"Pessoa Relacionada", :collection=>Pessoa.accessible_by(current_ability).where(:id.nin=>(@ids)).order_by([:nome, :asc]).collect {|p| [p.nome, p.id]}, as: :select, :input_html => {:class=>"col-xs-2", :required=>true}  %>  
    </div>
  </div>

  <% if current_user.igreja_id != nil %>
    <%= f.input :igreja_id, :as => :hidden, :input_html => {value: current_user.igreja.id} %>
  <% else %>
    <%= f.input :igreja_id, :label=>"Igreja", :collection=>Igreja.order_by([:nome, :asc]).collect {|i| [i.nome, i.id]}, as: :select, :input_html => {:class=>"col-xs-2", :required=>true}  %>  
  <% end %>

  <p class="text-danger">Atenção: A senha gerada sera: "12345678"</p>
  <p class="text-info">Apos o primeiro login o usuario sera redirecionado e solicitado a mudar sua senha. <br/>Apos mudar sua senha o usuario tera que efetuar novamente o login.</p>

  <%= f.input :password, :as => :hidden, :input_html => {value: "12345678"} %>
  <%= f.input :password_confirmation, :as => :hidden, :input_html => {value: "12345678"} %>
  
  <br/>

  <div class="form-actions">
    <%= f.button :submit, "Salvar", :class => 'btn btn-primary' %>
    <%= link_to "Cancelar",
                usuarios_path, :class => 'btn btn-default' %>
  </div>

<% end %>